In [2]:
import re

In [2]:
Parse = ["SELECT", "FROM", "WHERE", "JOIN ON", "=", ">", "<", "<=", ">=", "<>", "AND", "IN", "NOT IN", "(" , ")" ]

In [3]:
exemplo = '''Select tabela1.coluna1, tabela2.coluna2
From tabela1
Join tabela2 ON tabela1.chave = tabela2.chave'''

In [5]:
(\s(=|>|<|<=|>=|<>)\s)(.*?)(?=(=|>|<|<=|>=|<>)\s)

SyntaxError: unexpected character after line continuation character (131737480.py, line 1)

In [ ]:
import re

sql = "SELECT * FROM mytable WHERE column1 = 'value1' AND column2 > 10 AND column3 LIKE '%value3%'"

# Extrai o WHERE e todos os ANDs subsequentes
matches = re.search(r"\bSELECT\b\s.*?\s\bFROM\b\s.*?(?:\bWHERE\b\s.*?(?:\bAND\b\s.*?)+)?", sql)
print(matches)
if matches:
    # Imprime a parte capturada do WHERE
    print(matches.group(0))
    
    # Imprime todas as ocorrências dos AND subsequentes
    ands = matches.groups()[1:]
    for and_clause in ands:
        if and_clause:
            print(and_clause)

<re.Match object; span=(0, 14), match='SELECT * FROM '>
SELECT * FROM

In [ ]:
BancoSQL = {

    "tabela1": {
    
        "coluna1":["boa","tarde","rapaziada"],
        "chave":["c1","c2","c3"]

    },

    "tabela2": {
    
        "coluna2":["boa2","tarde2","rapaziada2"],
        "chave":["c1","c2","c3"]

    }




}

In [ ]:
'''SELECT *
FROM tabela
WHERE coluna1 = valor1 AND coluna2 > valor2 AND coluna3 <> valor3;'''

'SELECT *\nFROM tabela\nWHERE coluna1 = valor1 AND coluna2 > valor2 AND coluna3 <> valor3;'

In [ ]:
"=", ">", "<", "<=", ">=", "<>"

('=', '>', '<', '<=', '>=', '<>')

In [ ]:
import re

texto = "Idade = 30"

padrao = r"="

resultado = re.findall(padrao, texto)

print(resultado)  # Saída: ['=']

['=']

In [ ]:
^\bSelect\b(.*?)\bFrom\b((.*?)\bJoin\b(.*?)\bOn\b)  ?((.*?)(\bWhere\b)?(.*?)(\bAnd\b(.*?)))?

In [ ]:
^\bSelect\b(.*?)\bFrom\b((.*?)(\bJoin\b)(.*?)(\bOn\b))+((.*?)\bWhere\b)?((.*?)(\bAnd\b))+.*$

(\bJoin\b\s(.*?)\s\bOn\b)*

In [ ]:
'''A expressão regular r'^\s*select\b.*\bfrom\b.*$' usa os seguintes elementos:

^: Corresponde ao início da string.
\s*: Corresponde a zero ou mais espaços em branco no início da string.
select: Corresponde à palavra "select" em minúsculas ou maiúsculas.
\b: Corresponde a um limite de palavra, garantindo que "select" e "from" sejam palavras inteiras, e não partes de outras palavras.
.*: Corresponde a zero ou mais caracteres, exceto quebras de linha.
from: Corresponde à palavra "from" em minúsculas ou maiúsculas.
\b: Corresponde a um limite de palavra, garantindo que "select" e "from" sejam palavras inteiras, e não partes de outras palavras.
.*: Corresponde a zero ou mais caracteres, exceto quebras de linha.
$: Corresponde ao final da string.
re.IGNORECASE: Faz com que a expressão regular seja case-insensitive, ou seja, correspondendo tanto a "select" como "SELECT".

. - Corresponde a qualquer caractere, exceto quebras de linha.
[] - Corresponde a qualquer caractere dentro dos colchetes. Por exemplo, [abc] corresponde a "a", "b" ou "c".
[^] - Corresponde a qualquer caractere que não esteja dentro dos colchetes. Por exemplo, [^abc] corresponde a qualquer caractere que não seja "a", "b" ou "c".
- - Permite definir um intervalo dentro de colchetes. Por exemplo, [a-z] corresponde a qualquer letra minúscula de "a" a "z".
\ - Usado para escapar de caracteres especiais, como . ou [. Também é usado para criar classes de caracteres especiais, como \d ou \s.
^ - Corresponde ao início da string. Também pode ser usado dentro de colchetes para negar uma classe de caracteres. Por exemplo, [^abc] corresponde a qualquer caractere que não seja "a", "b" ou "c".
$ - Corresponde ao final da string.
* - Corresponde a zero ou mais repetições do caractere anterior ou da subexpressão. Por exemplo, a* corresponde a zero ou mais "a"s.
+ - Corresponde a uma ou mais repetições do caractere anterior ou da subexpressão. Por exemplo, a+ corresponde a uma ou mais "a"s.
? - Corresponde a zero ou uma repetição do caractere anterior ou da subexpressão. Por exemplo, a? corresponde a zero ou uma "a".
{m} - Corresponde exatamente a m repetições do caractere anterior ou da subexpressão. Por exemplo, a{3} corresponde a exatamente três "a"s.
{m,n} - Corresponde a pelo menos m e no máximo n repetições do caractere anterior ou da subexpressão. Por exemplo, a{2,4} corresponde a duas, três ou quatro "a"s.
() - Cria um grupo de captura, que pode ser referenciado posteriormente na expressão regular ou em uma função que utiliza expressões regulares, como re.sub().
| - Corresponde a qualquer uma das alternativas fornecidas. Por exemplo, a|b corresponde a "a" ou "b".
\d - Corresponde a qualquer dígito. É equivalente a [0-9].
\D - Corresponde a qualquer caractere que não seja dígito. É equivalente a [^0-9].
\s - Corresponde a qualquer caractere de espaço em branco, incluindo espaços, tabulações e quebras de linha. É equivalente a [ \t\n\r\f\v].
\S - Corresponde a qualquer caractere que não seja de espaço em branco. É equivalente a [^ \t\n\r\f\v].
\w - Corresponde a qualquer caractere alfanumérico ou sublinhado. É equivalente a [a-zA-Z0-9_].
\W - Corresponde a qualquer caractere que não seja alfanumérico ou'''

'A expressão regular r\'^\\s*select\x08.*\x08from\x08.*$\' usa os seguintes elementos:\n\n^: Corresponde ao início da string.\n\\s*: Corresponde a zero ou mais espaços em branco no início da string.\nselect: Corresponde à palavra "select" em minúsculas ou maiúsculas.\n\x08: Corresponde a um limite de palavra, garantindo que "select" e "from" sejam palavras inteiras, e não partes de outras palavras.\n.*: Corresponde a zero ou mais caracteres, exceto quebras de linha.\nfrom: Corresponde à palavra "from" em minúsculas ou maiúsculas.\n\x08: Corresponde a um limite de palavra, garantindo que "select" e "from" sejam palavras inteiras, e não partes de outras palavras.\n.*: Corresponde a zero ou mais caracteres, exceto quebras de linha.\n$: Corresponde ao final da string.\nre.IGNORECASE: Faz com que a expressão regular seja case-insensitive, ou seja, correspondendo tanto a "select" como "SELECT".\n\n. - Corresponde a qualquer caractere, exceto quebras de linha.\n[] - Corresponde a qualquer caractere dentro dos colchetes. Por exemplo, [abc] corresponde a "a", "b" ou "c".\n[^] - Corresponde a qualquer caractere que não esteja dentro dos colchetes. Por exemplo, [^abc] corresponde a qualquer caractere que não seja "a", "b" ou "c".\n- - Permite definir um intervalo dentro de colchetes. Por exemplo, [a-z] corresponde a qualquer letra minúscula de "a" a "z".\n\\ - Usado para escapar de caracteres especiais, como . ou [. Também é usado para criar classes de caracteres especiais, como \\d ou \\s.\n^ - Corresponde ao início da string. Também pode ser usado dentro de colchetes para negar uma classe de caracteres. Por exemplo, [^abc] corresponde a qualquer caractere que não seja "a", "b" ou "c".\n$ - Corresponde ao final da string.\n* - Corresponde a zero ou mais repetições do caractere anterior ou da subexpressão. Por exemplo, a* corresponde a zero ou mais "a"s.\n+ - Corresponde a uma ou mais repetições do caractere anterior ou da subexpressão. Por exemplo, a+ corresponde a uma ou mais "a"s.\n? - Corresponde a zero ou uma repetição do caractere anterior ou da subexpressão. Por exemplo, a? corresponde a zero ou uma "a".\n{m} - Corresponde exatamente a m repetições do caractere anterior ou da subexpressão. Por exemplo, a{3} corresponde a exatamente três "a"s.\n{m,n} - Corresponde a pelo menos m e no máximo n repetições do caractere anterior ou da subexpressão. Por exemplo, a{2,4} corresponde a duas, três ou quatro "a"s.\n() - Cria um grupo de captura, que pode ser referenciado posteriormente na expressão regular ou em uma função que utiliza expressões regulares, como re.sub().\n| - Corresponde a qualquer uma das alternativas fornecidas. Por exemplo, a|b corresponde a "a" ou "b".\n\\d - Corresponde a qualquer dígito. É equivalente a [0-9].\n\\D - Corresponde a qualquer caractere que não seja dígito. É equivalente a [^0-9].\n\\s - Corresponde a qualquer caractere de espaço em branco, incluindo espaços, tabulações e quebras de linha. É equivalente a [ \t\n\r\x0c\x0b].\n\\S - Corresponde a qualquer caractere que não seja de espaço em branco. É equivalente a [^ \t\n\r\x0c\x0b].\n\\w - Corresponde a qualquer caractere alfanumérico ou sublinhado. É equivalente a [a-zA-Z0-9_].\n\\W - Corresponde a qualquer caractere que não seja alfanumérico ou'

In [ ]:
import re

# Exemplo de string contendo vários "Join ... On ..."
consulta_sql = "SELECT * FROM tabela1 Join tabela2 On tabela1.id = tabela2.id Join tabela3 On tabela2.id = tabela3.id"

# Expressão regular para capturar os valores entre vários "Join ... On ..."
regex = r"\bJoin\b(.*?)\bOn\b"

# Encontrar todas as ocorrências da expressão regular na string de consulta SQL
resultados = re.findall(regex, consulta_sql)

# Imprimir todos os valores capturados entre "Join" e "On"
for resultado in resultados:
    print(resultado.strip()) # .strip() remove espaços em branco do início e do final do valor capturado

tabela2
tabela3

melhro ate agr

In [6]:

database = {
    "Usuario": ["idUsuario", "Nome", "Logradouro", "Numero", "Bairro", "CEP", "UF", "DataNascimento"],
    "Contas": ["idConta", "Descricao", "TipoConta_idTipoConta", "Usuario_idUsuario", "SaldoInicial"],
    "Movimentacao": ["idMovimentacao", "DataMovimentacao", "Descricao", "TipoMovimento_idTipoMovimento", "Categoria_idCategoria", "Contas_idConta", "Valor"],
    "TipoConta": ["idTipoConta", "Descrição"],
    "TipoMovimento": ["idTipoMovimento", "DescMovimentacao"],
    "Categoria": ["idCategoria", "DescCategoria"]
}

In [ ]:
        #fazer colunas no regex
    #(?:\bAND\b(.*?)(?:(\=|\>|\<|\<\=|\>\=|\<\>)))
    #pattern = r"^\bSelect\b(.*?)\bFrom\b(.*?)(?:\bwhere\b(.*?))?(?:\band\b(.*?)(?:\band\b|$)(.*?))*$"
    #pattern = r"^\bSelect\b(.*?)\bFrom\b(.*?)$"    
#"(?:(\=|\>|\<|\<\=|\>\=|\<\>))(.*?))?(?:\band\b(.*?)(?=\band\b|$)"
    #pattern = r"^\bSELECT\b(.*?)\bFROM\b(.*?)(?:\bJoin\b(.*?)\bOn\b(.*?)(?:\=|\>|\<|\<\=|\>\=|\<\>|\;))"#"^\bSelect\b(.*?)\bFrom\b(.*?)(?:\bJoin\b(.*?)\bOn\b(.*?)\bJoin\b)*;"
    #pattern = r"^\bSelect\b(.*?)\bFrom\b(.*?)(?:\bwhere\b(.*?))*;"
    #pattern = r"(?:\bAND\b\s)(.*?)(?:(\bAND\b|;))"
    #pattern = r"\bAND\b(.*?)\bAND\b"
    #pattern = r"(?:\bJoin\b(.*?)\bOn\b)*"
    #pattern = r"^\bSelect\b(.*?)\bFrom\b(.*?)(?:\bJoin\b(.*?)\bOn\b(.*?))*(\bWhere\b(.*?)(?:=|>|<|<=|>=|<>)(\d))?;"
    #pattern = r"^\bSELECT\b((?:(?!\bJOIN\b|\bON\b|\bAND\b|\bIN\b|\bNOT\b=|>|<|\s\d\s).)*?)\s\bFROM\b\s(.*?)(?:\s\bJOIN\b\s((?:(?!\bSELECT\b|\bFROM\b|\bAND\b|\bIN\b|\bNOT\b=|>|<|\s\d\s).)*?)\s\bON\b\s(.*?))*(?:\s\bWHERE\b\s(.*?)(?:=|>|<|<=|>=|<>)\s(.*?)\s(?:\bAND\b\s(.*?)(?:=|>|<|<=|>=|<>)(.*?))*)*?\b;"
               #^\bSelect\b([^\d]*?)\bFrom\b(([^\d]*?)\bJoin\b([^\d]*?)\bOn\b)+.*?
    #pattern = r"\b="
    #pattern = r"(\b=|\b>|\b<|\b<=|\b>=|\b<>)"
    #pattern = r"^\bSelect\b.(.*?).\bFrom\b.(.*?).(\bJoin\b.(.*?).\bOn\b)?" #select from"
    #pattern = r"^\bSelect\b([^\d]*?)\bFrom\b(([^\d]*?)\bJoin\b([^\d]*?)\bOn\b)+.*?"#"^\bSelect\b(.*?)\bFrom\b((.*?)(\bJoin\b) ((.*?)((\bOn\b))((.*?)\bWhere\b)?((.*?)(\bAnd\b))+))(.*?)(?=(=|>|<|<=|>=|<>)\s)"
    #pattern = r"^Select.(.*?)\bFrom.*((\bJoin.*\bOn.*)?.*(\bWhere)?.*(\bAnd)?)?.*" #select from
    #pattern = r"^Select.*\bFrom.*\bJoin.*\bOn.*\bWhere.*\bAnd" #select from
    #pattern = r"(\b=|\b>|\b<|\b<=|\b>=|\b<>)?"

#exemplo = '''Select idusuario, nome, datanascimento, descricao, saldoinicial, UF, Descrição From usuario Join contas On usuario.idUsuario = contas.Usuario_idUsuario Join tipoconta On tipoconta.idTipoConta = contas.TipoConta_idTipoConta Where saldoinicial < 3000 And uf = 'ce' And Descrição <> 'Conta Corrente' And idusuario > 3;'''
#exemplo = "Select nome, datanascimento, descricao, saldoinicial from usuario join contas on usuario.idUsuario = contas.Usuario_idUsuario where saldoinicial >=235 and uf ='ce' and cep <> '62930000';"
#exemplo = "select * from tabela where Usuario = usuario.idUsuario and usuario = 10 and usuario.pedro = 1;" 
#exemplo = "select * from tabela "#where k = 1 and paulo = 1;" 
#exemplo = "select * from tabela where k = 1 join pedro on pedro and paulo = 1;" 
    #pattern = r"^\bSelect\b(.*?)\bFrom\b(.*?)(?:\bwhere\b(.*?))?(?:\band\b(.*?)(?=\band\b|$)(.*?))*$"
    #pattern = r"(?:\bjoin\b(.*?)(?:\bon\b|$)(.*?))"
    #matches = re.findall(pattern, string, re.IGNORECASE)

Patters Certos:

pattern = r"^\bSelect\b(.*?)\bFrom\b(.*?)(?:\bwhere\b(.*?))?;" Select From Where
pattern = r"^\bSelect\b(.*?)\bFrom\b(.*?)(?:\bwhere\b(.*?))?(?:\bAND\b\s*(.*?)(?:;|\band\b))" Select From Where And unico

In [36]:
import re


database = {
    "usuario": ["idusuario", "nome", "logradouro", "numero", "bairro", "cep", "uf", "datanascimento"],
    "contas": ["idconta", "descricao", "tipoconta_idtipoconta", "usuario_idusuario", "saldoinicial"],
    "movimentacao": ["idmovimentacao", "datamovimentacao", "descricao", "tipomovimento_idtipomovimento", "categoria_idcategoria", "contas_idconta", "valor"],
    "tipoconta": ["idtipoconta", "descrição"],
    "tipomovimento": ["idtipomovimento", "descmovimentacao"],
    "categoria": ["idcategoria", "desccategoria"]
}

# ----------- Exemplos errados ------------
#exemplo = "join contas on usuario.idUsuario = contas.Usuario_idUsuario"
#exemplo = "selec * from usuario"
exemplo = "selec * fro usuario"
exemplo = "select * froM usuario wher manp"
exemplo = "select * froM usuario joi contas on mano where mano > 3"

# ----------- Exemplos certos ------------

#exemplo = "Select idusuario, nome, datanascimento, descricao, saldoinicial, UF, Descrição from usuario join contas on usuario.idUsuario = contas.Usuario_idUsuario join tipoconta on tipoconta.idTipoConta = contas.TipoConta_idTipoConta where saldoinicial < 3000 and uf = 'ce' and Descrição <> 'Conta Corrente' and idusuario > 3"
#exemplo = "Select nome, datanascimento, descricao, saldoinicial from usuario join contas on usuario.idUsuario = contas.Usuario_idUsuario where saldoinicial >=235 and uf ='ce' and cep <> '62930000' and name='alex';"
exemplo = "Select nome, datanascimento, descricao, saldoinicial from usuario join contas on usuario.idUsuario = contas.Usuario_idUsuario join Categoria on a = usuario.b"
#exemplo = "Select nome, datanascimento, descricao, saldoinicial from usuario"
exemplo = "Select Nome, DataNascimento from Usuario join tipoconta on tipoconta.idtipoconta = usuario.idusuario where Logradouro >=  235"
exemplo = "Select Usuario.Nome, Logradouro from Usuario join contas on idcontas = idusuario and idcontas <> idusuario join movimentacao on descricao = idmovimentacao"
def regex(database,string):
    string = string.lower()
    colecoes_chamadas = []

    #selecionando o select from
    pattern_select_from = r"^\bSelect\b\s(.*?)\s\bFrom\b\s(.*?)(($|join|where)(.*?)$)"
    matches = re.findall(pattern_select_from, string, re.IGNORECASE)
    matches_select_from = matches
    if len(matches) == 0:
        return False
    else:
        #print("SELECT: "+matches_select_from[0][0])
        #print("FROM: "+matches_select_from[0][1])
        colecoes_chamadas.append(matches_select_from[0][1].strip())

        #validacao da coluna #ligacao com o join, as colunas do join tambem podem vir aqui
        coluna = matches_select_from[0][1].strip()

        if coluna not in database:
            return False
        
        elementos = matches_select_from[0][0].split(",")

        for i in elementos:
            if i == "*" and len(elementos) == 1:
                print("valido")
            elif '.' in i:
                elemento_com_ponto = i.strip().split(".")
                try:
                    if not elemento_com_ponto[1] in database[elemento_com_ponto[0]] and not elemento_com_ponto[0] == coluna:
                        return False
                    
                except:
                    return False
            elif not i.strip() in database[coluna]:
                return False
            
        
    #checagem do where
    m1 = matches_select_from[0][2]
    pattern_select_from = r"(?:(.*?)\bwhere\b(.*?))$"
    matches = re.findall(pattern_select_from, m1, re.IGNORECASE)
    matches_where = matches

    if len(matches_where) == 0:
        m1 = matches_select_from[0][2]
    else:
        m1 = matches_where[0][0]
        valor_where = matches_where[0][1]


    #checagem e tratamento do join on
    pattern_join_on = r"(?:\bjoin\b(.*?)(?:\bon\b|$)(.*?)(?=\bJoin\b|$))"
    matches = list(filter(lambda x: x != ("", "",""), re.findall(pattern_join_on, m1, re.IGNORECASE)))
    m2 = matches

    for i in m2:

        caracteres = list(filter(bool,re.split(r'<=|>=|=|<|>|<>|\band\b' ,i[1].strip())))

        if i[0].strip() in database:
            colecoes_chamadas.append(i[0].strip())
            colecao_inexistente = True
            for i in colecoes_chamadas:
                for j in caracteres:
                    if j.strip() in database[i]:
                        colecao_inexistente = False
            
            if colecao_inexistente == True:
                return False
        else:
                return False



    #tratamento do where
    if len(matches_where) > 0:
        if len(matches_where[0][1]) != 0:
            valor_where = matches_where[0][1]
            #checagem do and
            pattern_where_and = r"(.*?)(?:\bAND\b\s)(.*?)(?=\s\bAND\b|$)"
            matches = list(filter(lambda x: x != ("", "",""), re.findall(pattern_where_and, valor_where, re.IGNORECASE)))
            if len(matches) > 0:
                for i in matches:
                    for j in i:  
                        if len(j.strip()) != 0:
                            caracteres = list(filter(bool,re.split(r'<=|>=|=|<|>|<>' ,j.strip())))
                            if len(caracteres) != 2:
                                return False
                            else:
                                colecao_inexistente = True
                                for i in colecoes_chamadas:
                                    tabela = i.strip()
                                    if caracteres[0].strip() in database[tabela]:
                                        colecao_inexistente = False
                                if colecao_inexistente == True:
                                    return False
            else:
                caracteres = list(filter(bool,re.split(r'<=|>=|=|<|>|<>' ,valor_where.strip())))
                if len(caracteres) != 2:
                    return False
                else:
                    colecao_inexistente = True
                    for i in colecoes_chamadas:
                        tabela = i.strip()

                        if caracteres[0].strip() in database[tabela]:
                            colecao_inexistente = False

                    if colecao_inexistente == True:
                        return False







    return string

contents = regex(database,exemplo)
print(contents)

(' contas ', ' idcontas = idusuario and idcontas <> idusuario ')
['idcontas ', ' idusuario ', ' idcontas ', ' idusuario']
(' movimentacao ', ' descricao = idmovimentacao')
['descricao ', ' idmovimentacao']
select usuario.nome, logradouro from usuario join contas on idcontas = idusuario and idcontas <> idusuario join movimentacao on descricao = idmovimentacao

In [34]:
        #checagem após o and, fazer um antes
        pattern_where_and = r"(.*?)(?:\bAND\b\s)(.*?)(?=\s\bAND\b|$)"
        matches = list(filter(lambda x: x != ("", "",""), re.findall(pattern_where_and, matches[0][1], re.IGNORECASE)))
        print(matches)

        if len(matches) == 0:

            matches = matches_where

        for i in matches:
            print("AND APOS WHERE:"+str(i))
            for j in i:
                print(j)
                separador = 0
                for k in list(filter(bool,re.split(r'<=|>=|=|<|>|<>' ,j.strip()))):
                    valor = k
                    separador += 1
                    if separador == 1:
                        erro = True
                        for i in colecoes_chamadas:
                            try:
                                if valor.strip() in database[i]:
                                    erro = False
                            except:
                                a = 0
                    elif separador > 2 or erro == True:
                        return False

                    



    #join on
    pattern_join_on = r"(?:(.*?)\bjoin\b(.*?)(?:\bon\b|$)(.*?)(?=\bJoin\b|$))"
    matches = list(filter(lambda x: x != ("", "",""), re.findall(pattern_join_on, m1, re.IGNORECASE)))
    m2 = matches
    for i in m2:
        print("Join on:"+ str(i))

    '''#AND entre join e on
    if len(m2) > 0: 
        for i in range(len(m2)):
            pattern_join_on = r"(.*?)(?<=\bAND\b\s)(.*?)(?=\s\bAND\b|$)"
            matches = list(filter(lambda x: x != ("", "",""), re.findall(pattern_join_on, m2[i][-1], re.IGNORECASE)))
            print(matches)
    print(matches)'''

IndentationError: expected an indented block after 'for' statement on line 37 (935062535.py, line 38)

In [19]:
a = "Usuario.Nome".strip().split(".")
if a[1] in database[a[0]]:
    print("aa")

aa

In [72]:
if 'Logradouro' in database['Usuario']:
    print("a")

a

In [55]:
import re

pattern = r"^Select.*\bFrom.*(\bJoin.*\bOn.*)?"
#string1 = "Select * From Table1"
string2 = "Select tabela1.coluna1, tabela2.coluna2 From tabela1 Join tabela2 On tabela1.chave = tabela2.chave"
#string3 = "Select * From Table1 Join Table2"

In [ ]:
0%2

0

In [31]:
contents = regex(exemplo)
print(contents)
# Output: ['b', 'a(b)c']

TypeError: regex() missing 1 required positional argument: 'string'

In [ ]:


# String de exemplo
string = extract_parentheses_order("Essa é uma ((string) de (exemplo)) com (parênteses).")

string

[['(', '(', ')', '(', ')', ')'], ['(', ')']]

In [24]:
def remover_caracteres(string_inicial):
    caracteres_para_remover = "\n,;"
    for caracter in caracteres_para_remover:
        string_inicial = string_inicial.replace(caracter, " ")

    return string_inicial

In [ ]:
def modelo_parser(consulta_sql):

    #elementos do parse em maiusculo
    Parse = ["SELECT", "FROM", "WHERE", "JOIN", "ON", "=", ">", "<", "<=", ">=", "<>", "AND", "IN", "NOT", "(" , ")" ]
    itens = remover_caracteres(consulta_sql).split() #remover caracteres "lixo"

    #divisao dos elementos
    colunas_e_tabelas = [palavra for palavra in itens if palavra not in Parse]
    expressoes_no_elemento = [palavra for palavra in itens if palavra in Parse]

    #ver os elementos
    for i in itens:
        if i in colunas_e_tabelas:
            print("Expressao:{}".format(i))
        else:
            print("Item:{}".format(i))

In [ ]:
modelo_parser(exemplo)

TypeError: 'str' object is not callable