In [7]:
Parse = ["SELECT", "FROM", "WHERE", "JOIN ON", "=", ">", "<", "<=", ">=", "<>", "AND", "IN", "NOT IN", "(" , ")" ]

In [8]:
exemplo = '''SELECT tabela1.coluna1, tabela2.coluna2
FROM tabela1
JOIN tabela2 ON tabela1.chave = tabela2.chave'''

In [9]:
exemplo.split("\n")

['SELECT tabela1.coluna1, tabela2.coluna2',
 'FROM tabela1',
 'JOIN tabela2 ON tabela1.chave = tabela2.chave']

In [ ]:
def modelo_parser(consulta_sql):
    consulta = consulta_sql.split("\n")